body{height: 100vh;}
/* .a { display: none;}
.b { display: inline; width: 100px; height: 50px;}
.c { display: block; }
.d { display: inline-block; width: 100px; height: 50px;} */

/* .a { position: static; }
.b { position: static; }
.c { position: static; } */

.bloque2 { position: relative; left: 20px; top: 10px; }

.a {
    position: relative; /*cambia este valor a static para ver la
    diferencia*/
    width: 300px;
    height: 300px;
    border: 2px dotted purple;
}

.b {
    position: absolute; /*Se posiciona de forma relativa al primer
    elemento padre que tiene una posición distinta a static*/
    background-color: #EEEEEE;
    top: 60px;
    right: 0px;
    width: 200px;
    height: 80px;
    border: 3px solid green;
}

.bloque2 { position: fixed; top: 130px; left: 100px; }